.work__card {
  display: grid;
  gap: rem(24);
  justify-content: center;
  text-align: center;
  place-items: center;
  width: rem(516);
  &-img {
    width: 100%;
    height: 622px;
    border-radius: 12px;
    object-fit: cover;
    background: gray;
  }
  &-text {
    display: grid;
    gap: rem(14);
    &-title {
      font-size: fluid(40,32);
      font-weight: 500;
    }
    &-description {
      font-size: rem(14);
    }
  }
}